<div class="w-full text-center font-bold text-xl">Sign In</div>

<div class="flex flex-col gap-4">
    <form class="form_auth" autocomplete="login" method="POST" action="/auth/login?returnUrl=<%= response.returnUrl %>">
        <div class="flex flex-col items-center gap-2">
            <div class="flex flex-col gap-4 w-full">
                <%- include('../components/inputs/inputGroup.ejs', {
                    type: 'text',
                    label: 'Email',
                    attributes: [
                        { name: 'name', value: 'email' },
                        { name: 'autocomplete', value: 'email' }
                    ],
                    errors: [ 'required', 'email' ]
                }); %>

                <%- include('../components/inputs/inputGroup.ejs', {
                    type: 'password',
                    label: 'Password',
                    attributes: [
                        { name: 'name', value: 'password' },
                        { name: 'autocomplete', value: 'password' }
                    ],
                    errors: [ 'required', 'password' ]
                }); %>
            </div>

            <div class="flex justify-start w-full">
                <a href="/login/forgot-password?returnUrl=<%= response.returnUrl %>"><div class="text-muted-foreground text-xs">Forgot password?</div></a>
            </div>

            <button type="submit" class="button button-hover button-primary shadow-2">Sign In</button>
        </div>
    </form>

    <div class="title-text w-full flex items-center justify-center">or sign in with</div>

    <div class="flex flex-row max-md:flex-col gap-2">

        <a class="w-full <% if(!response.links.google.enable){ %>disabled<% } %>" href="/auth/google?link=false&returnUrl=<%= response.returnUrl %>">
            <div class="alt-login google rounded-2 flex justify-center items-center w-full"></div>
        </a>

        <a class="w-full <% if(!response.links.discord.enable){ %>disabled<% } %>" href="/auth/discord?link=false&returnUrl=<%= response.returnUrl %>">
            <div class="alt-login discord rounded-2 flex justify-center items-center w-full"></div>
        </a>
    </div>

    <div class="flex flex-row gap-1 justify-center items-center w-full">
        <span class="text-muted-foreground text-base">You dont't have an account?</span>
        <a href="/register?returnUrl=<%= response.returnUrl %>"><div class="text-base">Create account</div></a>
    </div>
</div>