<div class="flex flex-col gap-2">
    <label class="flex flex-col items-start gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full pointer">
        <div class="flex flex-row items-center justify-between gap-2 w-full">
            <div class="text-left font-bold text-base">Game Modes</div>

            <%- include('../components/inputs/switchField.ejs', {
                className: 'admin_switch_settings',
                attributes: [
                    { name: 'data-settings', value: 'games_status' }
                ],
                checked: response.admin.games.status
            }); %>
        </div>

        <div class="text-sm text-muted-foreground">Toggle to enable or disable all game modes on the website.</div>
    </label>

    <% if(response.admin.games.classic.length > 0){ %>
        <div class="flex flex-col items-start gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
            <div class="flex flex-col gap-2">
                <div class="text-left font-bold text-base">Classic Game Modes</div>

                <div class="text-muted-foreground">Toggle to enable or disable the specific classic game mode.</div>
            </div>

            <div class="flex flex-col gap-2">
                <% response.admin.games.classic.forEach(function(item){ %>
                    <div class="flex flex-row items-center gap-2">
                        <%- include('../components/inputs/switchField.ejs', {
                            className: 'admin_switch_settings',
                            attributes: [
                                { name: 'data-settings', value: 'games_games_classic_' + item.game + '_enable' }
                            ],
                            checked: item.enable
                        }); %>

                        <div class="text-sm text-muted-foreground"><%= item.name %></div>
                    </div>
                <% }); %>
            </div>
        </div>
    <% } %>

    <% if(response.admin.games.original.length > 0){ %>
        <div class="flex flex-col items-start gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
            <div class="flex flex-col gap-2">
                <div class="text-left font-bold text-base">Original Game Modes</div>

                <div class="text-muted-foreground">Toggle to enable or disable the specific original game mode.</div>
            </div>

            <div class="flex flex-col gap-2">
                <% response.admin.games.original.forEach(function(item){ %>
                    <div class="flex flex-row items-center gap-2">
                        <%- include('../components/inputs/switchField.ejs', {
                            className: 'admin_switch_settings',
                            attributes: [
                                { name: 'data-settings', value: 'games_games_original_' + item.game + '_enable' }
                            ],
                            checked: item.enable
                        }); %>

                        <div class="text-sm text-muted-foreground"><%= item.name %></div>
                    </div>
                <% }); %>
            </div>
        </div>

        <div class="flex flex-col items-start gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
            <div class="flex flex-col gap-2">
                <div class="text-left font-bold text-base">House Edges</div>

                <div class="text-muted-foreground">Defines the built-in advantage for original games. A higher value reduces player payouts slightly to ensure long-term profitability.</div>
            </div>

            <div class="flex flex-col items-start gap-2">
                <div class="admin-house-edge flex flex-col gap-4">
                    <% response.admin.games.original.forEach(function(item){ %>
                        <div class="flex flex-row items-center gap-2">
                            <div class="flex flex-row gap-1">
                                <%- include('../components/inputs/inputGroup.ejs', {
                                    type: 'text',
                                    label: item.name + ' House Edge',
                                    id: 'admin_games_house_edge_' + item.game + '_value',
                                    value: item.house_edge.value,
                                    errors: [ 'required', 'number', 'percentage' ],
                                    disabled: item.house_edge.fixed,
                                    readonly: item.house_edge.fixed
                                }); %>
                            </div>

                            <% if(item.house_edge.fixed){ %>
                                <div class="text-warning flex-1">This game uses a fixed house edge that cannot be modified.</div>
                            <% } %>
                        </div>
                    <% }); %>
                </div>

                <button class="button button-hover button-primary shadow-2" id="admin_games_house_edge_set">Set</button>
            </div>
        </div>
    <% } %>

    <div class="flex flex-col items-start gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
        <div class="flex flex-col gap-2">
            <div class="text-left font-bold text-base">Casino Real Mode</div>

            <div class="text-muted-foreground">Toggle to enable or disable the real mode for casino.</div>
        </div>

        <div class="flex flex-row items-center gap-2">
            <%- include('../components/inputs/switchField.ejs', {
                className: 'admin_switch_settings',
                attributes: [
                    { name: 'data-settings', value: 'games_casino_real' }
                ],
                checked: response.admin.games.casino.real
            }); %>

            <div class="text-sm text-muted-foreground">Real Mode</div>
        </div>
    </div>
</div>