<div class="flex flex-col gap-2">
    <div class="flex flex-row justify-start w-full">
        <a href="/admin/users">
            <button class="button button-hover button-accent shadow-2 flex flex-row gap-2 items-center justify-center">
                <%- include('../components/icon.ejs', {
                    icon: 'undo',
                    className: 'size-3.5'
                }); %>

                <span>Back to list</span>
            </button>
        </a>
    </div>

    <div class="flex flex-col gap-4">
        <div class="bg-card bg-opacity-50 rounded-2 border-2 border-card p-4">
            <div class="flex flex-row max-md:flex-col items-center justify-between gap-2 p-2">
                <div class="flex flex-row items-center gap-2">
                    <div class="avatar-field <%= [ 'tier-steel', 'tier-bronze', 'tier-silver', 'tier-gold', 'tier-diamond' ][Math.floor(response.admin.user.profile.user.level / 25)] %>">
                        <div class="inline-block relative">
                            <img class="avatar size-15 rounded-full" src="<%= response.admin.user.profile.user.avatar %>">
                            <div class="level sup sup sup-left flex justify-center items-center border-2 border-secondary rounded-full"><%= response.admin.user.profile.user.level %></div>
                        </div>
                    </div>

                    <div class="flex flex-col items-start">
                        <div class="flex justify-start gap-2 uppercase font-bold truncate">
                            <div class="chat-link-<%= response.admin.user.profile.rank.name %>"><%= response.admin.user.profile.rank.name %></div>
                            <div><%= response.admin.user.profile.user.name %></div>
                        </div>

                        <div class="truncate text-xs"><%= response.admin.user.profile.user.userid %></div>
                    </div>
                </div>

                <a href="/user/<%= response.admin.user.profile.user.userid %>" target="_blank"><button class="button button-hover button-primary shadow-2">Profile</button></a>
            </div>
        </div>

        <div class="flex flex-col gap-2">
            <div class="flex flex-row gap-2">
                <button class="button button-hover button-accent shadow-2 dashboard-load switch_panel active" data-id="admin_user" data-panel="informations">Informations</button>
                <button class="button button-hover button-accent shadow-2 dashboard-load switch_panel" data-id="admin_user" data-panel="settings">Settings</button>
            </div>

            <div class="switch_content" data-id="admin_user" data-panel="informations">
                <div class="flex flex-col gap-2 text-left bg-card bg-opacity-50 rounded-2 border-2 border-card p-4">
                    <div class="text-base">Registed - <%= response.admin.user.profile.created %></div>

                    <% if(response.admin.user.ips.length > 0){ %>
                        <div class="text-base">IP Logins - <span class="text-success"><%= response.admin.user.ips.join(', ') %></span></div>
                    <% } %>

                    <% if(response.admin.user.referred){ %>
                            <div class="text-base">Referred By - <span class="text-success"><%= response.admin.user.referred %></span></div>
                    <% } %>

                    <div class="text-base">Balance - <span class="text-success"><%= response.admin.user.profile.balance %></span></div>
                    <div class="text-base">Rollover Amount - <span class="text-success"><%= response.admin.user.profile.rollover %></span></div>
                    <div class="text-left text-base">Two Factory Authentication - <% if(response.admin.user.twofactor_authentication.primary){ %><span class="text-success">Enabled</span><% } else { %><span class="text-danger">Disabled</span><% } %></div>

                    <% if(response.admin.user.twofactor_authentication.primary){ %>
                        <div class="text-base">Primary Method - <span class="text-success"><%= { authenticator_app: 'Authenticator App', email_verification: 'Email Verification' }[response.admin.user.twofactor_authentication.primary] %></span></div>
                        <div class="text-base">Authenticator App - <% if(response.admin.user.twofactor_authentication.authenticator_app){ %><span class="text-success">Enabled</span><% } else { %><span class="text-danger">Disabled</span><% } %></div>
                        <div class="text-base">Email Verification - <% if(response.admin.user.twofactor_authentication.email_verification){ %><span class="text-success">Enabled</span><% } else { %><span class="text-danger">Disabled</span><% } %></div>
                    <% } %>

                    <div class="text-base">Anonymous - <% if(response.admin.user.profile.anonymous) { %><span class="text-danger">Active</span><% } else { %><span class="text-success">Inactive</span><% } %></div>
                    <div class="text-base">Private Mode - <% if(response.admin.user.profile.private) { %><span class="text-danger">Private</span><% } else { %><span class="text-success">Public</span><% } %></div>
                    <div class="text-base">Linked Google Account - <% if(response.admin.user.links.google) { %><span class="text-success">Yes (<%= response.admin.user.links.google %>)</span><% } else { %><span class="text-danger">No</span><% } %></div>
                    <div class="text-base">Linked Discord Account - <% if(response.admin.user.links.discord) { %><span class="text-success">Yes (<%= response.admin.user.links.discord %>)</span><% } else { %><span class="text-danger">No</span><% } %></div>

                    <% if(response.admin.user.profile.exclusion) { %>
                        <div class="text-left text-base text-danger">Self Exclusion Active - Expires <%= response.admin.user.profile.exclusion %></div>
                    <% } else { %>
                        <div class="text-left text-base text-success">Self Exclusion Inactive</div>
                    <% } %>

                </div>
            </div>

            <div class="switch_content hidden" data-id="admin_user" data-panel="settings">
                <div class="flex flex-col gap-2">
                    <div class="flex flex-col items-start gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
                        <div class="flex flex-col gap-2">
                            <div class="text-left font-bold text-base">Account Links</div>

                            <div class="text-muted-foreground">Remove a linked account from the user's profile.</div>
                        </div>

                        <div class="flex flex-wrap flex-row gap-2">

                            <% if(response.admin.user.links.google) { %>
                                <button class="button button-hover button-primary shadow-2 flex-1 admin_user_remove_link" data-provider="google">Remove Google Link</button>
                            <% } else { %>
                                <button class="button button-hover button-primary shadow-2 disabled flex-1">Not linked with Google</button>
                            <% } %>

                            <% if(response.admin.user.links.discord) { %>
                                <button class="button button-hover button-primary shadow-2 flex-1 admin_user_remove_link" data-provider="discord">Remove Discord Link</button>
                            <% } else { %>
                                <button class="button button-hover button-primary shadow-2 disabled flex-1">Not linked with Discord</button>
                            <% } %>
                        </div>
                    </div>

                    <div class="flex flex-col items-start gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
                        <div class="flex flex-col gap-2">
                            <div class="text-left font-bold text-base">Exclusions</div>

                            <div class="flex flex-col gap-1">
                                <div class="text-muted-foreground">Remove any active exclusions applied to this user account.</div>
                                <div class="text-muted-foreground">Exclusion status: <% if(response.admin.user.profile.exclusion) { %><span class="text-danger">Active - Expires <%= response.admin.user.profile.exclusion %></span><% } else { %><span class="text-success">Inactive</span><% } %></div>
                            </div>
                        </div>

                        <% if(response.admin.user.profile.exclusion) { %>
                            <button class="button button-hover button-primary shadow-2" id="admin_user_remove_exclusion">Remove Exclusion</button>
                        <% } else { %>
                            <button class="button button-hover button-primary shadow-2 disabled">Remove Exclusion</button>
                        <% } %>
                    </div>

                    <div class="flex flex-col items-start gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
                        <div class="flex flex-col gap-2">
                            <div class="text-left font-bold text-base">Logout All Devices</div>

                            <div class="flex flex-col gap-1">
                                <div class="text-muted-foreground">Sign the user out of their account across all devices or sessions.</div>
                                <div class="text-muted-foreground"><% if(response.admin.user.devices > 0) { %><span class="text-success">The user is logged in with <%= response.admin.user.devices %> devices<% } else { %><span class="text-danger">The user is not logged in</span><% } %></div>
                            </div>
                        </div>

                        <% if(response.admin.user.devices > 0) { %>
                            <button class="button button-hover button-primary shadow-2" id="admin_user_remove_sessions">Logout from all devices</button>
                        <% } else { %>
                            <button class="button button-hover button-primary shadow-2 disabled">No active sessions</button>
                        <% } %>
                    </div>

                    <div class="flex flex-col items-start gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
                        <div class="flex flex-col gap-2">
                            <div class="text-left font-bold text-base">Ban IP Addresses</div>

                            <div class="flex flex-col gap-1">
                                <div class="text-muted-foreground">Block the user's IP Addresses from accessing the website.</div>
                                <div class="text-muted-foreground"><% if(response.admin.user.bannedips.length > 0) { %><span class="text-success">Banned IPs - <%= response.admin.user.bannedips.join(', ') %></span><% } else { %><span class="text-success">No IPs Banned</span><% } %></div>
                            </div>
                        </div>

                        <%- include('../components/inputs/inputGroup.ejs', {
                            type: 'text',
                            label: 'IP Address',
                            id: 'admin_user_ip_value',
                            errors: [ 'required' ],
                            addons: [{
                                addon: '<div class="flex flex-wrap flex-row justify-end gap-1">' +
                                    '<button class="button button-hover button-primary shadow-2" id="admin_user_ip_ban">Ban</button>' +
                                    '<button class="button button-hover button-primary shadow-2" id="admin_user_ip_unban">Unban</button>' +
                                '</div>',
                                align: 'end'
                            }]
                        }); %>
                    </div>

                    <div class="flex flex-col items-start gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
                        <div class="flex flex-col gap-2">
                            <div class="text-left font-bold text-base">Set Rank</div>

                            <div class="flex flex-col gap-1">
                                <div class="text-muted-foreground">Change the user's rank for display, their access level, or permissions.</div>
                                <div class="text-muted-foreground">Active Rank: <span class="capitalize text-success"><%= response.admin.user.profile.rank.name %></span></div>
                            </div>
                        </div>

                        <div class="flex flex-row items-center gap-2 w-full">
                            <%- include('../components/inputs/selectField.ejs', {
                                type: 'bottom',
                                label: 'Rank',
                                id: 'admin_user_rank_value',
                                selected: response.admin.user.ranks.map(a => a.rank).indexOf(response.admin.user.profile.rank.value),
                                items: response.admin.user.ranks.map(a => ({
                                    name: a.name, value: a.rank
                                }))
                            }); %>

                            <button class="button button-hover button-primary shadow-2" id="admin_user_rank_set">Confirm</button>
                        </div>
                    </div>

                    <div class="flex flex-col items-start gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
                        <div class="flex flex-col gap-2">
                            <div class="text-left font-bold text-base">Edit Balance</div>

                            <div class="text-muted-foreground">Manually adjust the user's balance by adding or subtracting funds.</div>
                        </div>

                        <%- include('../components/inputs/inputGroup.ejs', {
                            type: 'text',
                            label: 'Amount',
                            id: 'admin_user_balance_amount',
                            value: '1000.00',
                            errors: [ 'required', 'number' ],
                            addons: [{
                                addon: '<button class="button button-hover button-primary shadow-2" id="admin_user_balance_edit">Confirm</button>',
                                align: 'end'
                            }]
                        }); %>
                    </div>

                    <div class="flex flex-col items-start gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
                        <div class="flex flex-col gap-2">
                            <div class="text-left font-bold text-base">Site Ban Restriction</div>

                            <div class="flex flex-col gap-1">
                                <div class="text-muted-foreground">Ban or unban the user from accessing the website entirely.</div>
                                <div class="text-muted-foreground"><% if(response.admin.user.restrictions.site.active) { %> <span class="text-danger">This user is already restricted. The restriction expires <%= response.admin.user.restrictions.site.expire %></span><% } else { %><span class="text-success">This user is not restricted</span><% } %></div>
                            </div>
                        </div>

                        <% if(response.admin.user.restrictions.site.active){ %>
                            <button class="button button-hover button-primary shadow-2 w-full" id="admin_user_restriction_site_unset">Unban</button>
                        <% } else { %>
                            <div class="flex flex-row flex-col gap-4 items-start w-full">
                                <%- include('../components/inputs/inputGroup.ejs', {
                                    type: 'text',
                                    label: 'Reason',
                                    id: 'admin_user_restriction_site_reason',
                                    errors: [ 'required' ]
                                }); %>

                                <%- include('../components/inputs/datePicker.ejs', {
                                    label: 'Expire Date',
                                    id: 'admin_user_restriction_site_expire',
                                    errors: [ 'required' ]
                                }); %>

                                <div class="flex flex-row items-center gap-2">
                                    <%- include('../components/inputs/switchField.ejs', {
                                        id: 'admin_user_restriction_site_permanent',
                                        checked: false
                                    }); %>

                                    <div class="text-sm text-muted-foreground">Permanent site ban</div>
                                </div>

                                <button class="button button-hover button-primary shadow-2" id="admin_user_restriction_site_set">Confirm</button>
                            </div>
                        <% } %>
                    </div>

                    <div class="flex flex-col items-start gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
                        <div class="flex flex-col gap-2">
                            <div class="text-left font-bold text-base">Play Ban Restriction</div>

                            <div class="flex flex-col gap-1">
                                <div class="text-muted-foreground">Ban or unban the user from participating and betting in any games.</div>
                                <div class="text-muted-foreground"><% if(response.admin.user.restrictions.play.active) { %> <span class="text-danger">This user is already restricted. The restriction expires <%= response.admin.user.restrictions.play.expire %></span><% } else { %><span class="text-success">This user is not restricted</span><% } %></div>
                            </div>
                        </div>

                        <% if(response.admin.user.restrictions.play.active){ %>
                            <button class="button button-hover button-primary shadow-2 w-full" id="admin_user_restriction_play_unset">Unban</button>
                        <% } else { %>
                            <div class="flex flex-row flex-col gap-4 items-start w-full">
                                <%- include('../components/inputs/inputGroup.ejs', {
                                    type: 'text',
                                    label: 'Reason',
                                    id: 'admin_user_restriction_play_reason',
                                    errors: [ 'required' ]
                                }); %>

                                <%- include('../components/inputs/datePicker.ejs', {
                                    label: 'Expire Date',
                                    id: 'admin_user_restriction_play_expire',
                                    errors: [ 'required' ]
                                }); %>

                                <div class="flex flex-row items-center gap-2">
                                    <%- include('../components/inputs/switchField.ejs', {
                                        id: 'admin_user_restriction_play_permanent',
                                        checked: false
                                    }); %>

                                    <div class="text-sm text-muted-foreground">Permanent play ban</div>
                                </div>

                                <button class="button button-hover button-primary shadow-2" id="admin_user_restriction_play_set">Confirm</button>
                            </div>
                        <% } %>
                    </div>

                    <div class="flex flex-col items-start gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
                        <div class="flex flex-col gap-2">
                            <div class="text-left font-bold text-base">Payment Ban Restriction</div>

                            <div class="flex flex-col gap-1">
                                <div class="text-muted-foreground">Ban or unban the user from using the payment system on the website.</div>
                                <div class="text-muted-foreground"><% if(response.admin.user.restrictions.trade.active) { %> <span class="text-danger">This user is already restricted. The restriction expires <%= response.admin.user.restrictions.trade.expire %></span><% } else { %><span class="text-success">This user is not restricted</span><% } %></div>
                            </div>
                        </div>

                        <% if(response.admin.user.restrictions.trade.active){ %>
                            <button class="button button-hover button-primary shadow-2 w-full" id="admin_user_restriction_trade_unset">Unban</button>
                        <% } else { %>
                            <div class="flex flex-row flex-col gap-4 items-start w-full">
                                <%- include('../components/inputs/inputGroup.ejs', {
                                    type: 'text',
                                    label: 'Reason',
                                    id: 'admin_user_restriction_trade_reason',
                                    errors: [ 'required' ]
                                }); %>

                                <%- include('../components/inputs/datePicker.ejs', {
                                    label: 'Expire Date',
                                    id: 'admin_user_restriction_trade_expire',
                                    errors: [ 'required' ]
                                }); %>

                                <div class="flex flex-row items-center gap-2">
                                    <%- include('../components/inputs/switchField.ejs', {
                                        id: 'admin_user_restriction_trade_permanent',
                                        checked: false
                                    }); %>

                                    <div class="text-sm text-muted-foreground">Permanent trade ban</div>
                                </div>

                                <button class="button button-hover button-primary shadow-2" id="admin_user_restriction_trade_set">Confirm</button>
                            </div>
                        <% } %>
                    </div>

                    <div class="flex flex-col items-start gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
                        <div class="flex flex-col gap-2">
                            <div class="text-left font-bold text-base">Chat Mute Restriction</div>

                            <div class="flex flex-col gap-1">
                                <div class="text-muted-foreground">Mute or unmute the user's ability to send messages in chat.</div>
                                <div class="text-muted-foreground"><% if(response.admin.user.restrictions.mute.active) { %> <span class="text-danger">This user is already restricted. The restriction expires <%= response.admin.user.restrictions.mute.expire %></span><% } else { %><span class="text-success">This user is not restricted</span><% } %></div>
                            </div>
                        </div>

                        <% if(response.admin.user.restrictions.mute.active){ %>
                            <button class="button button-hover button-primary shadow-2 w-full" id="admin_user_restriction_mute_unset">Unban</button>
                        <% } else { %>
                            <div class="flex flex-row flex-col gap-4 items-start w-full">
                                <%- include('../components/inputs/inputGroup.ejs', {
                                    type: 'text',
                                    label: 'Reason',
                                    id: 'admin_user_restriction_mute_reason',
                                    errors: [ 'required' ]
                                }); %>

                                <%- include('../components/inputs/datePicker.ejs', {
                                    label: 'Expire Date',
                                    id: 'admin_user_restriction_mute_expire',
                                    errors: [ 'required' ]
                                }); %>

                                <div class="flex flex-row items-center gap-2">
                                    <%- include('../components/inputs/switchField.ejs', {
                                        id: 'admin_user_restriction_mute_permanent',
                                        checked: false
                                    }); %>

                                    <div class="text-sm text-muted-foreground">Permanent mute ban</div>
                                </div>

                                <button class="button button-hover button-primary shadow-2" id="admin_user_restriction_mute_set">Confirm</button>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>