<div class="flex flex-col items-center">
	<div class="affiliates-container flex flex-col gap-6 w-full">
		<div class="affiliates-header flex flex-row max-md:flex-col gap-20 justify-between bg-card bg-opacity-50 rounded-2 border-2 border-card py-8 px-20">
			<div class="flex flex-col gap-4 justify-between w-full">
				<div class="flex flex-col gap-2">
					<div class="text-2xl font-bold text-warning"><%= response.admin.referrals.user.name %>'s Referrals Tracking</div>
					<div class="text-sm text-muted-foreground">Monitor performance statistics of referred users activity</div>
				</div>

				<%- include('../components/inputs/inputGroup.ejs', {
					type: 'text',
					label: 'Affiliate Code',
					value: response.admin.referrals.referral.toUpperCase(),
					features: [
						'<button class="button button-hover button-primary shadow-2 w-full" data-copy="text", data-text="' + app.url + '/r/' + response.admin.referrals.referral.toLowerCase() + '">Copy Link</button>'
					]
				}); %>
			</div>

			<div class="affiliates-tier bronze flex flex-col gap-4 items-center justify-between bg-card border-2 border-secondary pt-4 rounded-2 relative overflow-hidden">
				<div class="flex flex-col gap-2 items-center w-full">
					<div class="capitalize text-lg font-bold"><%= response.admin.referrals.tier.name %> tier</div>

					<div class="flex flex-row gap-2 items-center px-4 w-full">
						<img src="/img/affiliates/tier<%= Math.min(response.admin.referrals.tier.tier + 1, response.admin.referrals.tiers.length) - 1 %>.png">

						<div class="progress-container">
							<% var style = 'style="width: ' + response.admin.referrals.tier.progress + '%;"'; %>

                            <div class="progress-bar" <%- style %>></div>
						</div>

						<img src="/img/affiliates/tier<%= Math.min(response.admin.referrals.tier.tier + 1, response.admin.referrals.tiers.length) %>.png">
					</div>

					<div class="flex flex-row gap-1 items-center">
						<%- include('../components/icon.ejs', {
                            icon: 'diamond',
                            className: 'text-primary size-5'
                        }); %>

                        <span class="text-base font-bold"><%= response.admin.referrals.tier.deposited %></span>
						<span class="text-base font-bold">/</span>
						<span class="text-muted-foreground text-base font-bold"><%= response.admin.referrals.tier.target %></span>
					</div>
				</div>

				<button class="button button-hover view w-full" data-modal="show" data-id="#modal_admin_referrals_tiers">View Tiers</button>
			</div>
		</div>

		<div class="flex flex-col gap-2">
			<div class="text-sm text-muted-foreground font-bold">Overview</div>

			<div class="flex flex-row max-md:flex-col gap-2 w-full">
				<div class="flex flex-col gap-2 w-full">
					<div class="affiliates-overview flex flex-row gap-4 items-center bg-card bg-opacity-50 rounded-2 border-2 border-card p-4">
						<%- include('../components/icon.ejs', {
                            icon: 'users',
                            className: 'text-primary size-8'
                        }); %>

						<div class="flex flex-col gap-2">
							<div class="text-base font-bold"><%= response.admin.referrals.overview.users %></div>
							<div class="text-sm text-muted-foreground">Referred users</div>
						</div>
					</div>

					<div class="affiliates-overview flex flex-row gap-4 items-center bg-card bg-opacity-50 rounded-2 border-2 border-card p-4">
						<%- include('../components/icon.ejs', {
                            icon: 'diamond',
                            className: 'text-primary size-8'
                        }); %>

                        <div class="flex flex-col gap-2">
							<div class="text-base font-bold"><%= response.admin.referrals.overview.earnings.deposited %></div>
							<div class="text-sm text-muted-foreground">Total deposited</div>
						</div>
					</div>
				</div>

				<div class="flex flex-col gap-2 w-full">
					<div class="affiliates-overview flex flex-row gap-4 items-center bg-card bg-opacity-50 rounded-2 border-2 border-card p-4">
						<%- include('../components/icon.ejs', {
                            icon: 'diamond',
                            className: 'text-primary size-8'
                        }); %>

                        <div class="flex flex-col gap-2">
							<div class="text-base font-bold"><%= response.admin.referrals.overview.earnings.wagered %></div>
							<div class="text-sm text-muted-foreground">Total wagered</div>
						</div>
					</div>

					<div class="affiliates-overview flex flex-row gap-4 items-center bg-card bg-opacity-50 rounded-2 border-2 border-card p-4">
						<%- include('../components/icon.ejs', {
                            icon: 'diamond',
                            className: 'text-primary size-8'
                        }); %>

                        <div class="flex flex-col gap-2">
							<div class="text-base font-bold"><%= response.admin.referrals.overview.earnings.total %></div>
							<div class="text-sm text-muted-foreground">Total earned</div>
						</div>
					</div>
				</div>

				<div class="affiliates-overview earnings flex flex-col gap-2 items-center justify-center bg-card bg-opacity-50 rounded-2 border-2 border-primary p-4 w-full">
                    <div class="price flex flex-row items-center gap-2">
                        <%- include('../components/icon.ejs', {
                            icon: 'diamond',
                            className: 'text-primary size-6'
                        }); %>

                        <span class="font-bold text-xl"><%= response.admin.referrals.overview.earnings.available %></span>
                    </div>

                    <div class="text-base text-muted-foreground">Pending earnings</div>
				</div>
			</div>
		</div>

		<div class="flex flex-col gap-2">
			<div class="text-sm text-muted-foreground font-bold">Statistics</div>

            <div class="dashboard-chart flex flex-col gap-2" data-graph="referrals_overview" data-id="<%= response.admin.referrals.user.userid %>">
                <div class="flex flex-row justify-start w-full">
					<div class="dashboard-graph flex flex-wrap flex-row gap-2 items-center bg-card bg-opacity-50 border-2 border-card p-2 rounded-1">
						<button class="button button-hover active flex-1" data-date="day">This Day</button>
						<button class="button button-hover flex-1" data-date="week">This Week</button>
						<button class="button button-hover flex-1" data-date="month">This Month</button>
						<button class="button button-hover flex-1" data-date="year">This Year</button>
					</div>
				</div>

                <div class="bg-card bg-opacity-50 border-2 border-card p-4 rounded-1 size-full relative">
                    <div class="dashboard-loader hidden bg-card bg-opacity-50 flex justify-center items-center">
                        <div class="loader">
                            <div class="loader-part loader-part-1">
                                <div class="loader-dot loader-dot-1"></div>
                                <div class="loader-dot loader-dot-2"></div>
                            </div>

                            <div class="loader-part loader-part-2">
                                <div class="loader-dot loader-dot-1"></div>
                                <div class="loader-dot loader-dot-2"></div>
                            </div>
                        </div>
                    </div>

                    <canvas id="dashboard_chart_referrals_overview"></canvas>
                </div>
            </div>
		</div>

		<div class="flex flex-col gap-4">
			<div class="text-sm text-muted-foreground font-bold">Referred Users</div>

			<div class="flex flex-col gap-2">
				<div class="flex flex-row gap-1">
					<%- include('../components/inputs/inputGroup.ejs', {
						type: 'text',
						label: 'Search User (userid, name)',
						id: 'admin_referred_users_search'
					}); %>

					<div class="flex flex-row gap-1">
						<%- include('../components/inputs/selectField.ejs', {
							type: 'bottom',
							label: 'Order by',
							id: 'admin_referred_users_order',
							items: [
								{ name: 'Join date', value: 0 },
								{ name: 'Name A-Z', value: 1 },
								{ name: 'Name Z-A', value: 2 },
								{ name: 'Earnings acending', value: 3 },
								{ name: 'Earnings descending', value: 4 }
							]
						}); %>
					</div>
				</div>

				<div class="table-container">
					<div class="table-header">
						<div class="table-row">
							<div class="table-column text-left">User Id</div>
							<div class="table-column text-left">Wagered</div>
							<div class="table-column text-left">Deposited</div>
							<div class="table-column text-left">Commission wagered</div>
							<div class="table-column text-left">Commission deposited</div>
							<div class="table-column text-right">Total</div>
						</div>
					</div>

					<div class="table-body" id="admin_referred_users">
						<% if(response.admin.referrals.referred_users.list.length > 0){ %>
							<% response.admin.referrals.referred_users.list.forEach(function(item){ %>
								<%- include('../components/tableAdminReferredUsersRow.ejs', item); %>
							<% }); %>
						<% } else { %>
							<%- include('../components/emptyTable.ejs', {
								title: 'No data found'
							}); %>
						<% } %>
					</div>

					<div class="table-footer">
						<div class="flex items-center justify-center bg-secondary p-2">
							<%- include('../components/pageNavigator.ejs', {
								id: 'pagination_admin_referred_users',
								page: response.admin.referrals.referred_users.page,
								pages: response.admin.referrals.referred_users.pages
							}); %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>