<a class="item transition duration-500 <% if(!enable){ %>disabled<% } %>" data-id="<%= id %>" href="/casino/slots/<%= id %>">
    <div class="info flex flex-col items-center justify-center bg-secondary bg-opacity-50 transition duration-200">
        <% if(enable){ %>
            <div class="rtp text-sm font-bold"><%= rtp %>% RTP</div>

            <div class="favorite pointer <% if(favorite){ %>active<% } %>">
                <%- include('./icon.ejs', {
                    icon: 'heart',
                    id: null,
                    className: 'size-3.5'
                }); %>
            </div>

            <div class="play flex flex-col items-center justify-center transition duration-500">
                <%- include('./icon.ejs', {
                    icon: 'play',
                    id: null,
                    className: 'size-6/12'
                }); %>
            </div>
        <% } else { %>
            <div class="description text-sm text-center font-bold">This game is temporary disabled!</div>
        <% } %>

        <div class="name flex flex-col gap-1">
            <div class="text-base text-center font-bold truncate w-full"><%= name %></div>
            <div class="text-xs text-center text-muted-foreground font-bold uppercase truncate w-full"><%= provider %></div>
        </div>
    </div>

    <div class="image transition duration-500"><img src="<%= image %>"></div>
</a>