<div class="section flex flex-col gap-2">
    <div class="flex flex-row justify-between items-center gap-2">
        <img class="max-h-8" src="<%= image %>">

        <div class="flex flex-row items-center gap-2">
            <a href="/casino/providers/<%= id %>"><button class="button button-hover button-accent shadow-2">View All</button></a>

            <div class="flex flex-row items-center gap-1">
                <button class="action button button-hover button-accent shadow-2" data-type="left">
                    <%- include('./icon.ejs', {
                        icon: 'chevron-left',
                        id: null,
                        className: 'size-3'
                    }); %>
                </button>

                <button class="action button button-hover button-accent shadow-2" data-type="right">
                    <%- include('./icon.ejs', {
                        icon: 'chevron-right',
                        id: null,
                        className: 'size-3'
                    }); %>
                </button>
            </div>
        </div>
    </div>

    <div class="swiper">
        <div class="casino-games list flex flex-row transition duration-500">
            <% games.forEach(function(item){ %>
                <%- include('./casinoGame.ejs', item); %>
            <% }); %>
        </div>
    </div>
</div>