<div class="chat-message flex flex-col gap-2 relative p-2 chat-content-<%= { '0': 'member', '1': 'admin', '2': 'moderator', '3': 'helper', '4': 'veteran', '5': 'pro', '6': 'youtuber', '7': 'streamer', '8': 'developer', '100': 'owner' }[rank] %>" data-message="<%= id %>">
    <div class="flex flex-row items-center gap-1 relative w-full pl-1">
        <%- include('./userAvatar.ejs', { user, size: 'size-10' }); %>

        <div class="chat-message-header flex flex-col justify-center gap-1">
            <div class="flex flex-row gap-4 justify-between items-center">
                <div class="chat-message-name chat-link-<%= { '0': 'member', '1': 'admin', '2': 'moderator', '3': 'helper', '4': 'veteran', '5': 'pro', '6': 'youtuber', '7': 'streamer', '8': 'developer', '100': 'owner' }[rank] %> truncate">
                    <% if(rank != 0) { %>
                        <div class="chat-message-rank mr-1 rounded-1 chat-rank-<%= { '0': 'member', '1': 'admin', '2': 'moderator', '3': 'helper', '4': 'veteran', '5': 'pro', '6': 'youtuber', '7': 'streamer', '8': 'developer', '100': 'owner' }[rank] %>"><%= { '0': 'member', '1': 'admin', '2': 'moderator', '3': 'helper', '4': 'veteran', '5': 'pro', '6': 'youtuber', '7': 'streamer', '8': 'developer', '100': 'owner' }[rank] %></div>
                    <% } %>

                    <%= user.name %>
                </div>

                <%- include('./overflowMenu.ejs', {
                    items: []
                }); %>
            </div>

            <div class="chat-message-time"><%= time %></div>
        </div>
    </div>

    <div class="flex flex-col gap-2 bg-card p-2 rounded-2">
        <% if(reply != null){ %>
            <div class="chat-reply flex flex-row items-center gap-2">
                <%- include('./icon.ejs', {
                    icon: 'reply',
                    id: null,
                    className: 'size-3.5'
                }); %>

                <div class="inline-block">
                    <img class="avatar" src="<%= reply.user.avatar %>">

                    <span class="name"><%= reply.user.name %></span>
                    <span class="message"><%- reply.message %></span>
                </div>
            </div>
        <% } %>

        <div class="chat-message-content"><%- message %></div>
    </div>
</div>