<div class="coinflip-player <% if(!winner) { %>active<% } %> w-5/12 h-full bg-secondary rounded-2 p-1">
    <div class="flex flex-col justify-between items-center h-full">
        <div class="flex flex-col items-center justify-center size-full gap-2">
            <% if(user){ %>
                <%- include('./userAvatar.ejs', { user, size: 'size-15', features: [
                    '<img class="sop sop-left border-1 border-secondary rounded-full" src="/img/coinflip/coin' + position + '.png">'
                ] }); %>

                <div class="text-center w-full truncate"><%= user.name %></div>
            <% } else if(joined) { %>
                <% if(creator) { %>
                    <button class="coinflip-callbot button button-hover button-primary shadow-2" data-id="<%= id %>">Call a Bot</button>
                <% } %>
            <% } else { %>
                <button class="coinflip-join button button-hover button-primary shadow-2" data-id="<%= id %>">Join Game</button>
            <% } %>
        </div>

        <div class="bg-card rounded-1 border-2 border-card px-2 flex flex-row items-center justify-center gap-1">
            <%- include('./icon.ejs', {
                icon: 'diamond',
                id: null,
                className: 'text-primary size-4'
            }); %>

            <span class="text-base"><%= amount %></span>
        </div>
    </div>
</div>