<div class="table-row">
    <div class="table-column text-left">
        <%- include('./userField.ejs', { user }); %>
    </div>

    <div class="table-column text-left">
        <div class="flex flex-row items-center justify-start gap-1">
            <%- include('./icon.ejs', {
                icon: 'diamond',
                className: 'text-primary size-4'
            }); %>

            <span><%= wagered %></span>
        </div>
    </div>
    <div class="table-column text-left">
        <div class="flex flex-row items-center justify-start gap-1">
            <%- include('./icon.ejs', {
                icon: 'diamond',
                className: 'text-primary size-4'
            }); %>

            <span><%= deposited %></span>
        </div>
    </div>
    <div class="table-column text-left">
        <div class="flex flex-row items-center justify-start gap-1">
            <%- include('./icon.ejs', {
                icon: 'diamond',
                className: 'text-primary size-4'
            }); %>

            <span><%= earnings.wagered %></span>
        </div>
    </div>
    <div class="table-column text-left">
        <div class="flex flex-row items-center justify-start gap-1">
            <%- include('./icon.ejs', {
                icon: 'diamond',
                className: 'text-primary size-4'
            }); %>

            <span><%= earnings.deposited %></span>
        </div>
    </div>
    <div class="table-column text-right">
        <div class="flex flex-row items-center justify-end gap-1">
            <%- include('./icon.ejs', {
                icon: 'diamond',
                className: 'text-primary size-4'
            }); %>

            <span><%= earnings.total %></span>
        </div>
    </div>
</div>