<div class="table-row relative">
    <div class="table-column text-left">
        <div class="flex flex-row items-center justify-start gap-1">
            <%- include('./icon.ejs', {
                icon: 'diamond',
                id: null,
                className: 'text-primary size-4'
            }); %>

            <span><%= amount %></span>
        </div>
    </div>

    <div class="table-column text-left"><%= winners %></div>
    <div class="table-column text-left"><%= time %></div>

    <div class="table-column">
        <div class="flex flex-row items-center justify-end">
            <%- include('./overflowMenu.ejs', {
                items: [
                    {
                        link: false,
                        destructive: false,
                        label: 'View winners',
                        icon: 'eye',
                        className: 'roulette-jackpot-winners',
                        attributes: [
                            { name: 'data-id', value: id }
                        ]
                    }
                ]
            }); %>
        </div>
    </div>
</div>