<div class="flex flex-1 flex-col gap-4">
<div class="flex flex-1 flex-col gap-6">
        <%- include('./components/tabsMenu.ejs', {
            type: 'top',
            items: [
                {
                    active: false,
                    label: 'Lobby',
                    href: '/casino/lobby'
                },
                {
                    active: false,
                    label: 'Slots',
                    href: '/casino/slots'
                },
                {
                    active: false,
                    label: 'Live Games',
                    href: '/casino/live'
                },
                {
                    active: false,
                    label: 'Recent Games',
                    href: '/casino/recent'
                },
                {
                    active: false,
                    label: 'Favorites',
                    href: '/casino/favorites'
                },
                {
                    active: true,
                    label: 'Providers',
                    href: '/casino/providers'
                }
            ]
        }); %>

        <div class="flex flex-1 flex-col gap-4">
            <div class="flex flex-row max-md:flex-col gap-1 max-md:gap-4">
                <%- include('./components/inputs/inputGroup.ejs', {
                    type: 'text',
                    label: 'Search Provider',
                    id: 'casino_providers_search'
                }); %>

                <div class="flex flex-row gap-1">
                    <%- include('./components/inputs/selectField.ejs', {
                        type: 'bottom',
                        label: 'Order by',
                        id: 'casino_providers_order',
                        items: [
                            { name: 'Name A-Z', value: 0 },
                            { name: 'Name Z-A', value: 1 }
                        ]
                    }); %>
                </div>
            </div>

            <div class="flex flex-col flex-1 gap-2">
                <div class="flex flex-1 flex-col gap-8" id="casino_providers">
                    <% if(response.casino.providers.list.length > 0){ %>
                        <% response.casino.providers.list.forEach(function(item){ %>
                            <%- include('./components/casinoProviderGames.ejs', item); %>
                        <% }); %>
                    <% } else { %>
                        <%- include('./components/emptyState.ejs', {
                            title: 'No providers found'
                        }); %>
                    <% } %>
                </div>

                <div class="flex items-center justify-center bg-secondary p-2 border-t-2 border-card">
                    <%- include('./components/pageStepper.ejs', {
                        id: 'pagination_casino_providers',
                        page: response.casino.providers.page,
                        pages: response.casino.providers.pages
                    }); %>
                </div>
            </div>
        </div>
    </div>
</div>