<div class="flex flex-1 flex-col items-center gap-4">
	<div class="flex flex-row justify-start w-full">
		<a href="/casino">
            <button class="button button-hover button-accent shadow-2 flex flex-row gap-2 items-center justify-center">
                <%- include('./components/icon.ejs', {
                    icon: 'undo',
                    className: 'size-3.5'
                }); %>

                <span>Go Back</span>
            </button>
        </a>
	</div>

	<div class="casino-game flex flex-1 flex-col gap-8">
        <div class="flex flex-1 flex-col">
            <div class="content flex flex-col flex-1" id="casino_game">
                <div class="welcome flex flex-row items-center justify-center">
                    <img class="background" src="<%= response.casino.game.image %>">

                    <div class="game bg-card bg-opacity-80 flex flex-row max-md:flex-col gap-6 rounded-2 px-6 py-4">
                        <img class="image" src="<%= response.casino.game.image %>">

                        <div class="flex flex-1 flex-col justify-between gap-4 overflow-hidden py-2">
                            <div class="flex flex-col gap-2">
                                <div class="text-lg text-nowrap font-bold "><%= response.casino.game.name %></div>
                                <div class="text-xs text-nowrap text-muted-foreground">By <%= response.casino.game.provider %></div>
                            </div>

                            <div class="flex flex-col gap-2">
                                <div class="text-xs text-muted-foreground">RTP</div>
                                <div class="text-lg font-bold"><%= response.casino.game.rtp %>%</div>
                            </div>

                            <div class="flex flex-row gap-2 w-full">
                                <button class="button button-hover button-primary shadow-2 w-full" id="casino_game_launch_real">Real Play</button>

                                <% if(response.casino.game.demo){ %>
                                    <button class="button button-hover button-accent shadow-2 w-full" id="casino_game_launch_demo">Fun Play</button>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-1 size-full" id="casino_game_frame"></div>
            </div>

            <div class="control flex flex-row gap-2 items-center justify-between">
                <div class="flex flex-row items-center gap-1">
                    <button class="button button-hover button-accent shadow-2 flex flex-row gap-2 items-center justify-center" id="casino_game_fullscreen">
                        <%- include('./components/icon.ejs', {
                            icon: 'maximize',
                            className: 'size-3.5'
                        }); %>

                        <span>Full Screen</span>
                    </button>

                    <button class="favorite button button-hover button-accent shadow-2" id="casino_favorite">
                        <%- include('./components/icon.ejs', {
                            icon: 'heart',
                            className: 'size-3.5'
                        }); %>
                    </button>
                </div>

                <img class="logo" src="/img/logo.png">

                <div class="flex flex-row items-center gap-2 <% if(!response.casino.game.demo){ %>disabled<% } %>">
                    <div class="text-xs font-bold">Fun Play</div>

                    <%- include('./components/inputs/switchField.ejs', {
						id: 'casino_game_mode',
                        checked: true
					}); %>

                    <div class="text-xs font-bold">Real Play</div>
                </div>
            </div>
        </div>

        <div class="section flex flex-col gap-2 w-full">
            <div class="flex flex-row justify-between items-center gap-2">
                <div class="text-lg font-bold">More from <%= response.casino.provider.name %></div>

                <div class="flex flex-row items-center gap-2">
                    <a href="/casino/providers/<%= response.casino.provider.id %>"><button class="button button-hover button-accent shadow-2">View All</button></a>

                    <div class="flex flex-row items-center gap-1">
                        <button class="action button button-hover button-accent shadow-2" data-type="left">
                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-left',
                                className: 'size-3'
                            }); %>
                        </button>

                        <button class="action button button-hover button-accent shadow-2" data-type="right">
                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-right',
                                className: 'size-3'
                            }); %>
                        </button>
                    </div>
                </div>
            </div>

            <div class="swiper">
                <div class="casino-games list flex flex-row transition duration-500">
                    <% response.casino.provider.games.forEach(function(item){ %>
                        <%- include('./components/casinoGame.ejs', item); %>
                    <% }); %>
                </div>
            </div>
        </div>

        <div class="section flex flex-col gap-2 w-full">
            <div class="flex flex-row justify-between items-center gap-2">
                <div class="text-lg font-bold">Pick your slots</div>

                <div class="flex flex-row items-center gap-2">
                    <% if(settings.games.classic.find(a => a.game == 'casino').enable || account.permissions.play_disabled){ %>
                        <a href="/casino/providers"><button class="button button-hover button-accent shadow-2">View All</button></a>
                    <% } %>

                    <div class="flex flex-row items-center gap-1">
                        <button class="action button button-hover button-accent shadow-2" data-type="left">
                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-left',
                                className: 'size-3'
                            }); %>
                        </button>

                        <button class="action button button-hover button-accent shadow-2" data-type="right">
                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-right',
                                className: 'size-3'
                            }); %>
                        </button>
                    </div>
                </div>
            </div>

            <div class="swiper">
                <div class="home-providers list flex flex-row transition duration-500">
                    <% response.casino.providers.forEach(function(item){ %>
                        <%- include('./components/casinoProvider.ejs', item); %>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>