<div class="flex flex-1 flex-col gap-4">
<div class="flex flex-1 flex-col gap-6">
        <%- include('./components/tabsMenu.ejs', {
            type: 'top',
            items: [
                {
                    active: true,
                    label: 'Lobby',
                    href: '/casino/lobby'
                },
                {
                    active: false,
                    label: 'Slots',
                    href: '/casino/slots'
                },
                {
                    active: false,
                    label: 'Live Games',
                    href: '/casino/live'
                },
                {
                    active: false,
                    label: 'Recent Games',
                    href: '/casino/recent'
                },
                {
                    active: false,
                    label: 'Favorites',
                    href: '/casino/favorites'
                },
                {
                    active: false,
                    label: 'Providers',
                    href: '/casino/providers'
                }
            ]
        }); %>

        <div class="flex flex-1 flex-col gap-4">
            <%- include('./components/inputs/inputGroup.ejs', {
                type: 'text',
                label: 'Search Game',
                id: 'casino_all_games_search'
            }); %>

            <div class="flex flex-col flex-1 gap-2 hidden" id="casino_lobby_games">
                <div class="casino-games flex-1 h-full" id="casino_all_games">
                    <% for(var i = 0; i < 40; i++){ %>
                        <%- include('./components/casinoGameSkeleton.ejs'); %>
                    <% } %>
                </div>

                <div class="flex items-center justify-center bg-secondary p-2 border-t-2 border-card">
                    <%- include('./components/pageStepper.ejs', {
                        id: 'pagination_casino_all_games',
                        page: 1,
                        pages: 1
                    }); %>
                </div>
            </div>

            <div class="flex flex-col gap-4" id="casino_lobby_lists">
                <div class="section flex flex-col gap-2">
                    <div class="flex flex-row justify-between items-center gap-2">
                        <div class="flex flex-row items-center gap-2">
                            <%- include('./components/icon.ejs', {
                                icon: 'flame',
                                className: 'size-6'
                            }); %>

                            <span class="text-lg font-bold">Hot Games</span>
                        </div>

                        <div class="flex flex-row items-center gap-1">
                            <button class="action button button-hover button-accent shadow-2" data-type="left">
                                <%- include('./components/icon.ejs', {
                                    icon: 'chevron-left',
                                    className: 'size-3'
                                }); %>
                            </button>

                            <button class="action button button-hover button-accent shadow-2" data-type="right">
                                <%- include('./components/icon.ejs', {
                                    icon: 'chevron-right',
                                    className: 'size-3'
                                }); %>
                            </button>
                        </div>
                    </div>

                    <div class="swiper">
                        <div class="casino-games list flex flex-row transition duration-500">
                            <% response.casino.games.hot.forEach(function(item){ %>
                                <%- include('./components/casinoGame.ejs', item); %>
                            <% }); %>
                        </div>
                    </div>
                </div>

                <div class="section flex flex-col gap-2">
                    <div class="flex flex-row justify-between items-center gap-2">
                        <div class="flex flex-row items-center gap-2">
                            <%- include('./components/icon.ejs', {
                                icon: 'slots',
                                className: 'size-6'
                            }); %>

                            <span class="text-lg font-bold">Slots</span>
                        </div>

                        <div class="flex flex-row items-center gap-2">
                            <a href="/casino/slots"><button class="button button-hover button-accent shadow-2">View All</button></a>

                            <div class="flex flex-row items-center gap-1">
                                <button class="action button button-hover button-accent shadow-2" data-type="left">
                                    <%- include('./components/icon.ejs', {
                                    icon: 'chevron-left',
                                    className: 'size-3'
                                }); %>
                                </button>

                                <button class="action button button-hover button-accent shadow-2" data-type="right">
                                    <%- include('./components/icon.ejs', {
                                    icon: 'chevron-right',
                                    className: 'size-3'
                                }); %>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper">
                        <div class="casino-games list flex flex-row transition duration-500">
                            <% response.casino.games.slots.forEach(function(item){ %>
                                <%- include('./components/casinoGame.ejs', item); %>
                            <% }); %>
                        </div>
                    </div>
                </div>

                <div class="section flex flex-col gap-2">
                    <div class="flex flex-row justify-between items-center gap-2">
                        <div class="flex flex-row items-center gap-2">
                            <%- include('./components/icon.ejs', {
                                icon: 'wheel',
                                className: 'size-6'
                            }); %>

                            <span class="text-lg font-bold">Live Games</span>
                        </div>

                        <div class="flex flex-row items-center gap-2">
                            <a href="/casino/live"><button class="button button-hover button-accent shadow-2">View All</button></a>

                            <div class="flex flex-row items-center gap-1">
                                <button class="action button button-hover button-accent shadow-2" data-type="left">
                                    <%- include('./components/icon.ejs', {
                                        icon: 'chevron-left',
                                        className: 'size-3'
                                    }); %>
                                </button>

                                <button class="action button button-hover button-accent shadow-2" data-type="right">
                                    <%- include('./components/icon.ejs', {
                                        icon: 'chevron-right',
                                        className: 'size-3'
                                    }); %>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper">
                        <div class="casino-games list flex flex-row transition duration-500">
                            <% response.casino.games.live.forEach(function(item){ %>
                                <%- include('./components/casinoGame.ejs', item); %>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>