<div class="flex flex-col gap-6">
	<div class="w-3/12 max-md:w-full">
        <%- include('./components/inputs/inputGroup.ejs', {
            type: 'text',
            label: '5% Deposit Bonus',
            id: 'deposit_bonus_code',
            value: response.deposit.code,
			addons: [{
				addon: '<button class="button button-hover button-primary shadow-2" id="apply_deposit_bonus">Apply</button>',
				align: 'end'
			}]
        }); %>
	</div>

	<div class="flex flex-col gap-4">
		<div class="offers-options-name">Deposit with Cash</div>

		<div class="offers-options">
			<% response.deposit.enable.cash.forEach(function(item){ %>
				<a class="<% if(!item.enable && !account.permissions.trade_disabled){ %>disabled<% } %>" href="/deposit/cash/<%= item.method %>">
					<div class="offers-option p-2 rounded-4">
						<div class="offers-option-image-content flex items-center justify-center rounded-2">
							<div class="offers-option-info text-2xs px-2 py-1 rounded-2">Disabled</div>

							<img class="offers-option-image" src="/img/payments/cash/<%= item.method %>.png">
						</div>

						<div class="offers-option-name flex justify-center items-center"><%= item.name %></div>
					</div>
				</a>
			<% }); %>
		</div>
	</div>

	<div class="flex flex-col gap-4">
		<div class="offers-options-name">Deposit with Cryptocurrency</div>

		<div class="offers-options">
			<a href="/deposit/crypto-hash">
				<div class="offers-option p-2 rounded-4">
					<div class="offers-option-image-content flex items-center justify-center rounded-2">
						<div class="offers-option-info text-2xs px-2 py-1 rounded-2">TX Hash</div>
						<img class="offers-option-image" src="/img/payments/crypto/btc.png">
					</div>
					<div class="offers-option-name flex justify-center items-center">Submit TX Hash</div>
				</div>
			</a>

			<% response.deposit.enable.crypto.forEach(function(item){ %>
				<a class="<% if(!item.enable && !account.permissions.trade_disabled){ %>disabled<% } %>" href="/deposit/crypto/<%= item.method %>">
					<div class="offers-option p-2 rounded-4">
						<div class="offers-option-image-content flex items-center justify-center rounded-2">
							<div class="offers-option-info text-2xs px-2 py-1 rounded-2">Disabled</div>

							<img class="offers-option-image" src="/img/payments/crypto/<%= item.method %>.png">
						</div>

						<div class="offers-option-name flex justify-center items-center"><%= item.name %></div>
					</div>
				</a>
			<% }); %>
		</div>
	</div>

</div>