<div class="flex flex-row max-md:flex-col gap-2">
	<div class="flex flex-col gap-2 w-full">
		<div class="faq-panel p-4">
			<div class="mt-2 mb-4 text-xl font-bold">General</div>

			<div class="flex flex-col gap-2">
                <div class="acordeon flex flex-col gap-2 w-full">
                    <div class="acordeon-item flex flex-col gap-2">
                        <div class="flex flex-row justify-between items-center gap-2">
                            <div class="text-muted-foreground">What is <%= app.name %>?</div>

                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-down',
                                className: 'acordeon-trigger text-muted-foreground pointer transition duration-500 size-2.5'
                            }); %>
                        </div>

                        <div class="acordeon-content text-muted-foreground transition duration-500">
                            <div><%= app.name %> is a brand new way to gamble CS2 and more games skins. We are NOT a jackpot site – instead players deposit skins for credits and these points are then transferred to our site, bet those credits on our inspired games: roulette, crash, coinflip, jackpot, dice, unboxing, case battle, upgrader, minesweeper, tower, plinko.</div>
                            <div>It doesn't matter how big your inventory is, or how much you bet, your odds are always the same.</div>
                            <div>Bets occur in real time, across the entire site, meaning you bet, win, and lose along with other players.</div>
                            <div>All rolls are generated using a provably fair system – ensuring a fair roll each and every time.</div>
                        </div>
                    </div>

                    <div class="acordeon-item flex flex-col gap-2">
                        <div class="flex flex-row justify-between items-center gap-2">
                            <div class="text-muted-foreground">How use the chat?</div>

                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-down',
                                className: 'acordeon-trigger text-muted-foreground pointer transition duration-500 size-2.5'
                            }); %>
                        </div>

                        <div class="acordeon-content text-muted-foreground transition duration-500">
                            <ol type="1">
                                <li>To send coins you need have level 1.</li>
                                <li>Don't beg for coins.</li>
                                <li>Don't post your affiliates codes in chat.</li>
                                <li>Don't advertise other websites.</li>
                                <li>Technical problems are not solved on chat but through support page</li>
                                <li>Do not ask about support tickets in chat. You can expect a response within 48 hours of sending your ticket.</li>
                                <li>Do not lie about transactions on support tickets, as this can result in a ban.</li>
                                <li>Respect our staff. Any rude remarks or attempts to belittle them will result in a mute.</li>
                            </ol>
                        </div>
                    </div>
                </div>
			</div>
		</div>

		<div class="faq-panel p-4">
			<div class="mt-2 mb-4 text-xl font-bold">Contact Support</div>

			<div class="flex flex-col gap-2">
                <div class="acordeon flex flex-col gap-2 w-full">
                    <div class="acordeon-item flex flex-col gap-2">
                        <div class="flex flex-row justify-between items-center gap-2">
                            <div class="text-muted-foreground">I doesn't find a correct answer</div>

                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-down',
                                className: 'acordeon-trigger text-muted-foreground pointer transition duration-500 size-2.5'
                            }); %>
                        </div>

                        <div class="acordeon-content text-muted-foreground transition duration-500">
                            <div>Feel free to contact us every time, if you need help or have some question's about the website and our service.</div>
						    <div>Our Support team is normally 24/7 online for you. You can contact us <a href="/support" target="_blank" class="text-primary">here</a>.</div>
                        </div>
                    </div>
                </div>
			</div>
		</div>

		<div class="faq-panel p-4">
			<div class="mt-2 mb-4 text-xl font-bold">Promotion</div>

			<div class="flex flex-col gap-2">
                <div class="acordeon flex flex-col gap-2 w-full">
                    <div class="acordeon-item flex flex-col gap-2">
                        <div class="flex flex-row justify-between items-center gap-2">
                            <div class="text-muted-foreground">Partnership / Sponsorship - Would you like to sponsor me?</div>

                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-down',
                                className: 'acordeon-trigger text-muted-foreground pointer transition duration-500 size-2.5'
                            }); %>
                        </div>

                        <div class="acordeon-content text-muted-foreground transition duration-500">
                            <div>We do not sponsor youtube channels with under 10 000 subscribers.</div>
                            <div>If you do have more than 10 000 but without an active fan base, there is only a slim chance of getting us to sponsor you.</div>
                            <div>We do not sponsor CS2 teams at the moment, if we ever will do it, we will be contacting them.</div>
                            <div>For business related questions, we advice you to contact <%= app.name %> team .</div>
                        </div>
                    </div>
                </div>
			</div>
		</div>

		<div class="faq-panel p-4">
			<div class="mt-2 mb-4 text-xl font-bold">Responsible Gambling</div>

			<div class="flex flex-col gap-2">
                <div class="acordeon flex flex-col gap-2 w-full">
                    <div class="acordeon-item flex flex-col gap-2">
                        <div class="flex flex-row justify-between items-center gap-2">
                            <div class="text-muted-foreground">How to play responsibly</div>

                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-down',
                                className: 'acordeon-trigger text-muted-foreground pointer transition duration-500 size-2.5'
                            }); %>
                        </div>

                        <div class="acordeon-content text-muted-foreground transition duration-500">
                            <div>Responsible Gaming is a set of social responsibility initiatives by the industry to ensure the integrity and fairness of their operations and to promote awareness of harms associated with it.</div>
                            <div>Tips on how to play responsibly:</div>
                            <ol type="1">
                                <li>Don't treat playing on <%= app.name %> as a way to make money</li>
                                <li>Only play with money you're willing to lose - play with your disposable income</li>
                                <li>Never chase your losses, there is no guarantee you will come out ahead</li>
                                <li>Don't play while under the influence of alcohol, drugs or other controlled substances</li>
                                <li>Never play when you're being depressed or upset</li>
                                <div>If you'd like to take a forced break from playing, you can go to your profile and lock yourself.</div>
                                <div>We will not remove this restriction for any reason.</div>
                            </ol>
                        </div>
                    </div>
                </div>
			</div>
		</div>

		<div class="faq-panel p-4">
			<div class="mt-2 mb-4 text-xl font-bold">Self Help</div>

			<div class="flex flex-col gap-2">
                <div class="acordeon flex flex-col gap-2 w-full">
                    <div class="acordeon-item flex flex-col gap-2">
                        <div class="flex flex-row justify-between items-center gap-2">
                            <div class="text-muted-foreground">What if I can't stop?</div>

                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-down',
                                className: 'acordeon-trigger text-muted-foreground pointer transition duration-500 size-2.5'
                            }); %>
                        </div>

                        <div class="acordeon-content text-muted-foreground transition duration-500">
                            <div>Like all forms of gambling, online gambling can become an addiction that can have serious negative effects on your life.</div>
                            <div>If you lose more than you planned to or can't safely afford and find yourself struggling to control time and/or money spent gambling, please check these sites for information that could help you:</div>
                            <div>HELP: <a href="http://www.psychguides.com/" target="_blank" class="text-primary">http://www.psychguides.com/</a></div>
                            <div>Self Help: <a href="http://www.gamblersanonymous.org/ga/" target="_blank" class="text-primary">http://www.gamblersanonymous.org/ga/</a></div>
                        </div>
                    </div>

                    <div class="acordeon-item flex flex-col gap-2">
                        <div class="flex flex-row justify-between items-center gap-2">
                            <div class="text-muted-foreground">Can I self-request a ban?</div>

                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-down',
                                className: 'acordeon-trigger text-muted-foreground pointer transition duration-500 size-2.5'
                            }); %>
                        </div>

                        <div class="acordeon-content text-muted-foreground transition duration-500">
                            <div>Yes. If you feel like you can't control your gambling habits, you can use self exclusion.</div>
                            <div>If you enable it, you won't be able to bet, claim rewards, send coins or deposit anything until the restriction expires.</div>
                            <div>Withdraws and chat privileges will remain active. Use it if you'd like to take a break from playing for an extended period. For custom restrictions, you can always contact us.</div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>

	<div class="flex flex-col gap-2 w-full">
		<div class="faq-panel p-4">
			<div class="mt-2 mb-4 text-xl font-bold">Coins</div>

			<div class="flex flex-col gap-2">
				<div class="acordeon flex flex-col gap-2 w-full">
                    <div class="acordeon-item flex flex-col gap-2">
                        <div class="flex flex-row justify-between items-center gap-2">
                            <div class="text-muted-foreground">What are coins?</div>

                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-down',
                                className: 'acordeon-trigger text-muted-foreground pointer transition duration-500 size-2.5'
                            }); %>
                        </div>

                        <div class="acordeon-content text-muted-foreground transition duration-500">
                            <div>1 Dollar = 1.00 coins</div>
						    <div>Coins have no real currency value, but are used to withdraw skins from the withdraw on our website.</div>
                        </div>
                    </div>

                    <div class="acordeon-item flex flex-col gap-2">
                        <div class="flex flex-row justify-between items-center gap-2">
                            <div class="text-muted-foreground">Can I send my coins to other players?</div>

                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-down',
                                className: 'acordeon-trigger text-muted-foreground pointer transition duration-500 size-2.5'
                            }); %>
                        </div>

                        <div class="acordeon-content text-muted-foreground transition duration-500">
                        	<div>For send coins you must have level 1. You can send coins to other players by clicking on message options in the chat and then on gift icon.</div>
					    </div>
                    </div>

                    <div class="acordeon-item flex flex-col gap-2">
                        <div class="flex flex-row justify-between items-center gap-2">
                            <div class="text-muted-foreground">I logged into my account and all my coins are gone?</div>

                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-down',
                                className: 'acordeon-trigger text-muted-foreground pointer transition duration-500 size-2.5'
                            }); %>
                        </div>

                        <div class="acordeon-content text-muted-foreground transition duration-500">
                            <div>When this happens there are a ton of possible reasons that might have caused it, but one thing that is for sure, is that it has nothing to do with errors from our site.</div>
                            <div>Reason 1: Just by entering the site you will be automatically logged in most of the time, someone around you can have used the coins to play on your account.</div>
                            <div>Reason 2: Virus / Exploits / Harmful browser extensions. <%= app.name %> does not advice any of their users to use any kind of extensions in their browser when playing on <%= app.name %>.</div>
                            <div>There are alot of more things that can cause problems, here are only 2 mentioned above. Lastly, we do NOT refund these types of incidents. We only refund what we can see and prove in our logs/DataBase.</div>
                            <div><%= app.name %> Admins/Bots/Moderators will NEVER add you on Steam and they will never request any of your items. Be wary of giveaway and impersonation scams.</div>
                        </div>
                    </div>

                    <div class="acordeon-item flex flex-col gap-2">
                        <div class="flex flex-row justify-between items-center gap-2">
                            <div class="text-muted-foreground">How can I get free coins?</div>

                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-down',
                                className: 'acordeon-trigger text-muted-foreground pointer transition duration-500 size-2.5'
                            }); %>
                        </div>

                        <div class="acordeon-content text-muted-foreground transition duration-500">
                            <div>There is a couple of ways you can earn free coins on <%= app.name %>:</div>
                            <ol type="1">
                                <li>Tasks</li>
                                <li>Chat Rain</li>
                            </ol>
                        </div>
                    </div>
                </div>
			</div>
		</div>

		<div class="faq-panel p-4">
			<div class="mt-2 mb-4 text-xl font-bold">Affiliates</div>

			<div class="flex flex-col gap-2">
                <div class="acordeon flex flex-col gap-2 w-full">
                    <div class="acordeon-item flex flex-col gap-2">
                        <div class="flex flex-row justify-between items-center gap-2">
                            <div class="text-muted-foreground">How can I earn extra coins by referring new users?</div>

                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-down',
                                className: 'acordeon-trigger text-muted-foreground pointer transition duration-500 size-2.5'
                            }); %>
                        </div>

                        <div class="acordeon-content text-muted-foreground transition duration-500">
                            <div>Create your unique code in the affiliate page and receive up to <%= response.faq.affiliates.earnings.wager %>% bet earnings and up to <%= response.faq.affiliates.earnings.deposit %>% deposit earnings from every user who used your code.</div>
                            <div>The code will also generate <%= response.faq.rewards.referral %> coins for the person who uses the code.</div>
                            <div class="italic">Note: The code should not be misleading or violate any trademarks.</div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>

	<div class="flex flex-col gap-2 w-full">
		<div class="faq-panel p-4">
			<div class="mt-2 mb-4 text-xl font-bold">Games</div>

			<div class="flex flex-col gap-2">
                <div class="acordeon flex flex-col gap-2 w-full">
                    <div class="acordeon-item flex flex-col gap-2">
                        <div class="flex flex-row justify-between items-center gap-2">
                            <div class="text-muted-foreground">Is there a maximum and minimum bet?</div>

                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-down',
                                className: 'acordeon-trigger text-muted-foreground pointer transition duration-500 size-2.5'
                            }); %>
                        </div>

                        <div class="acordeon-content text-muted-foreground transition duration-500">
                            <div>The minimum for any game is 1.00 coins</div>
                            <div>The maximum for any game is 500.00 coins</div>
                        </div>
                    </div>

                    <div class="acordeon-item flex flex-col gap-2">
                        <div class="flex flex-row justify-between items-center gap-2">
                            <div class="text-muted-foreground">Is there a maximum profit on crash?</div>

                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-down',
                                className: 'acordeon-trigger text-muted-foreground pointer transition duration-500 size-2.5'
                            }); %>
                        </div>

                        <div class="acordeon-content text-muted-foreground transition duration-500">
						    <div>You'll be automatically cashed out if you profit more than 5.000.00 coins.</div>
                        </div>
                    </div>
                </div>
			</div>
		</div>

		<div class="faq-panel p-4">
			<div class="mt-2 mb-4 text-xl font-bold">Faireness</div>

			<div class="flex flex-col gap-2">
                <div class="acordeon flex flex-col gap-2 w-full">
                    <div class="acordeon-item flex flex-col gap-2">
                        <div class="flex flex-row justify-between items-center gap-2">
                            <div class="text-muted-foreground">Are the games fair?</div>

                            <%- include('./components/icon.ejs', {
                                icon: 'chevron-down',
                                className: 'acordeon-trigger text-muted-foreground pointer transition duration-500 size-2.5'
                            }); %>
                        </div>

                        <div class="acordeon-content text-muted-foreground transition duration-500">
                        	<div>Absolutely! And we can prove it. Please see our <a href="/fair" target="_blank" class="text-primary">provably fair</a> page for technical details.</div>
					    </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>