<div class="flex flex-col gap-2">
	<div class="flex flex-col gap-4">
        <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card pt-8 pb-4 px-4">
                <div class="flex flex-col gap-4 items-center">
                    <div class="flex flex-col gap-2 items-center">
                        <div class="avatar-field tier-<%= response.user.user.level.tier %>">
                            <img class="avatar size-32 rounded-full" src="<%= response.user.user.avatar %>">
                        </div>

                        <div class="flex justify-center gap-2 font-bold text-xl">
                            <div class="capitalize chat-link-<%= response.user.user.rank %>"><%= response.user.user.rank %></div>

                            <div class="truncate"><%= response.user.user.name %></div>
                        </div>

                        <div class="level-bar flex items-center gap-1">
                            <div class="font-bold">Lvl. <%= Math.min(response.user.user.level.level + 1, 100) - 1 %></div>

                            <div class="progress-container rounded-1">
                                <% var style = 'style="width: ' + response.user.user.level.progress + '%;"'; %>

                                <div class="progress-bar transition duration-200 ease-linear rounded-1" <%- style %>></div>
                                <div class="progress-content flex flex-row justify-center items-center gap-1 font-bold">
                                    <span><%= response.user.user.level.have %></span>
                                    <span>/</span>
                                    <span><%= response.user.user.level.next %></span>
                                </div>
                            </div>

                            <div class="font-bold"><%= Math.min(response.user.user.level.level + 1, 100) %></div>
                        </div>
                    </div>

                    <% if(account.permissions.view_user){ %>
                        <a href="/admin/users/<%= response.user.user.userid %>" target="_blank"><button class="button button-hover button-primary shadow-2">Manage</button></a>
                    <% } %>
                </div>

                <div class="flex flex-row max-md:flex-col gap-2 items-center justify-between">
                    <div class="text-muted-foreground">Member since <%= response.user.user.created %></div>
                    <div><span class="text-muted-foreground">User ID:</span> <%= response.user.user.userid %></div>
                </div>
            </div>

            <div class="flex flex-row max-md:flex-col gap-2">
                <div class="flex flex-col items-center gap-1 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
                    <div class="text-muted-foreground font-bold">Deposited</div>
                    <div class="flex flex-row items-center justify-center gap-1 text-primary">
                        <%- include('./components/icon.ejs', {
                            icon: 'diamond',
                            className: 'size-5'
                        }); %>

                        <span class="text-xl"><%= response.user.stats.deposited %></span>
                    </div>
                </div>

                <div class="flex flex-col items-center gap-1 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
                    <div class="text-muted-foreground font-bold">Withdrawn</div>
                    <div class="flex flex-row items-center justify-center gap-1 text-primary">
                        <%- include('./components/icon.ejs', {
                            icon: 'diamond',
                            className: 'size-5'
                        }); %>

                        <span class="text-xl"><%= response.user.stats.withdrawn %></span>
                    </div>
                </div>

                <div class="flex flex-col items-center gap-1 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
                    <div class="text-muted-foreground font-bold">Wagered</div>
                    <div class="flex flex-row items-center justify-center gap-1 text-primary">
                        <%- include('./components/icon.ejs', {
                            icon: 'diamond',
                            className: 'size-5'
                        }); %>

                        <span class="text-xl"><%= response.user.stats.wagered %></span>
                    </div>
                </div>

                <div class="flex flex-col items-center gap-1 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4 w-full">
                    <div class="text-muted-foreground font-bold">Profit</div>
                    <div class="flex flex-row items-center justify-center gap-1 text-primary">
                        <%- include('./components/icon.ejs', {
                            icon: 'diamond',
                            className: 'size-5'
                        }); %>

                        <span class="text-xl"><%= response.user.stats.profit %></span>
                    </div>
                </div>
            </div>
        </div>

        <%- include('./components/tabsMenu.ejs', {
            type: 'top',
            items: [
                {
                    active: false,
                    label: 'Balance History',
                    href: '/user/' + response.user.user.userid + '/deposits'
                },
                {
                    active: true,
                    label: 'Games History',
                    href: '/user/' + response.user.user.userid + '/games'
                },
                {
                    active: false,
                    label: 'Transactions History',
                    href: '/user/' + response.user.user.userid + '/transactions'
                }
            ]
        }); %>

        <div class="flex flex-row max-md:flex-col gap-4">
            <%- include('./components/tabsMenu.ejs', {
                type: 'left',
                items: [
                    ...settings.games.original.map(a => ({
                        active: response.user.games.game == a.game,
                        label: a.name,
                        href: '/user/' + response.user.user.userid + '/games/' + a.game
                    })),
                    ...settings.games.classic.map(a => ({
                        active: response.user.games.game == a.game,
                        label: a.name,
                        href: '/user/' + response.user.user.userid + '/games/' + a.game
                    }))
                ]
            }); %>

            <div class="table-container w-full">
                <div class="table-header">
                    <div class="table-row">
                        <div class="table-column text-left">Id</div>
                        <div class="table-column text-left">Multiplier</div>
                        <div class="table-column text-left">Amount</div>
                        <div class="table-column text-left">Profit</div>
                        <div class="table-column text-left">Date</div>
                    </div>
                </div>

                <div class="table-body" id="user_crash_history">
                    <% if(response.user.games.list.length > 0){ %>
                        <% response.user.games.list.forEach(function(item){ %>
                            <%- include('./components/tableUserCrashHistoryRow.ejs', item); %>
                        <% }); %>
                    <% } else { %>
                        <%- include('./components/emptyTable.ejs', {
                            title: 'No data found'
                        }); %>
                    <% } %>
                </div>

                <div class="table-footer">
                    <div class="flex items-center justify-center bg-secondary p-2">
                        <%- include('./components/pageNavigator.ejs', {
                            id: 'pagination_user_crash_history',
                            page: response.user.games.page,
                            pages: response.user.games.pages
                        }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>