<div class="flex flex-col items-center gap-4">
	<div class="flex flex-row justify-start w-full">
		<a href="/withdraw">
            <button class="button button-hover button-accent shadow-2 flex flex-row gap-2 items-center justify-center">
                <%- include('./components/icon.ejs', {
                    icon: 'undo',
                    className: 'size-3.5'
                }); %>

                <span>Back to Options</span>
            </button>
        </a>
	</div>

	<div class="crypto-panel flex flex-col gap-2 w-8/12 max-md:w-full">
		<div class="flex flex-col gap-1">
			<div class="text-xl font-bold mb-2">Withdraw with <%= response.withdraw.currency %></div>

			<div class="text-xs text-muted-foreground">All <%= response.withdraw.currency %> withdrawals are sent instantly.</div>
		</div>

		<div class="flex flex-col gap-4 bg-card bg-opacity-50 text-left rounded-2 border-2 border-secondary p-4">
			<div class="flex flex-col gap-4">
                <div class="flex flex-col gap-2">
                    <div class="text-base font-bold"><%= response.withdraw.currency %> wallet address</div>

                    <div class="flex flex-col gap-1">
                        <div class="text-xs text-muted-foreground">Please enter the <%= response.withdraw.currency %> wallet address you want the withdrawal to be sent to.</div>
                        <div class="text-xs text-muted-foreground">All withdraws more than <%= response.withdraw.manually.amount %> coins, require manually confirmations and checks.</div>
                    </div>
                </div>

                <%- include('./components/inputs/inputGroup.ejs', {
                    type: 'text',
                    label: 'Your personal ' + app.paths[2].toUpperCase() + ' withdraw address',
                    id: 'currency_withdraw_address',
                    errors: [ 'required' ]
                }); %>
            </div>

			<div class="flex flex-row max-md:flex-col gap-4">
				<%- include('./components/inputs/inputGroup.ejs', {
                    type: 'text',
                    label: 'Withdraw Amount',
                    labelIcon: include('./components/icon.ejs', {
                        icon: 'diamond',
                        className: 'text-primary transition duration-200'
                    }),
                    id: 'currency_withdraw_amount',
                    value: '100.00',
                    attributes: [
                        { name: 'data-conversion', value: 'from' },
                        { name: 'data-currency', value: app.paths[2] },
                        { name: 'data-amount', value: 'withdraw_crypto' }
                    ],
                    errors: [ 'required', 'number', 'greater', 'lesser' ]
                }); %>

                <%- include('./components/inputs/inputGroup.ejs', {
                    type: 'text',
                    label: 'Receive',
                    labelIcon: include('./components/icon.ejs', {
                        icon: app.paths[2],
                        className: 'icon-color transition duration-200'
                    }),
                    attributes: [
                        { name: 'data-conversion', value: 'to' },
                        { name: 'data-currency', value: app.paths[2] }
                    ],
                    errors: [ 'number' ]
                }); %>

                <%- include('./components/inputs/inputGroup.ejs', {
                    type: 'text',
                    label: 'Receive (estimated)',
                    labelIcon: include('./components/icon.ejs', {
                        icon: app.paths[2],
                        className: 'icon-color transition duration-200'
                    }),
                    attributes: [
                        { name: 'data-conversion', value: 'estimated' },
                        { name: 'data-currency', value: app.paths[2] }
                    ],
                    errors: [ 'number' ]
                }); %>
			</div>

            <div class="flex flex-col gap-1">
                <div class="text-xs text-warning">This action is irreversible. Please make sure the provided information is correct. Any additional network fees will be deducted from the cashout amount.</div>
                <div class="text-xs text-warning">You cannot withdraw or transfer your funds to another account. You must withdraw your funds to a personal wallet.</div>
            </div>

			<button type="button" class="button button-hover button-primary shadow-2 large w-full" id="crypto_withdraw" data-currency="<%= app.paths[2] %>">Withdraw</button>

            <div class="flex flex-row justify-center gap-1"><span class="text-muted-foreground">Est. Network Fee:</span><% if(response.withdraw.fee){ %><span class="font-bold">$<%= response.withdraw.fee %></span><% } else { %><span class="font-bold">N/A</span><% } %></div>
		</div>

        <div class="flex flex-col items-center gap-1 w-full">
            <div class="text-xs text-muted-foreground">Your payment will be processed through <%= app.abbreviation %>.</div>
        </div>
	</div>
</div>