<div class="input-group flex flex-col w-full <% if(typeof disabled !== 'undefined' && disabled) { %>disabled<% } %>">
    <div class="input-wrapper flex flex-row px-2 rounded-2 w-full transition duration-200">
        <div class="flex flex-1 flex-row items-center relative">
            <% if(typeof label !== 'undefined'){ %>
                <div class="input-label-wrapper w-full">
                    <div class="input-label flex flex-row items-center gap-2 bg-card text-sm px-2 py-1 rounded-1 transition duration-200">
                        <% if(typeof labelIcon !== 'undefined'){ %><%- labelIcon %><% } %>

                        <div class="truncate"><%= label %></div>
                    </div>
                </div>
            <% } %>

            <input <% if(typeof type !== 'undefined'){ %>type="<%= type %>"<% } %> class="input-element w-full <% if(typeof className !== 'undefined' && className != null){ %><%= className %><% } %>" <% if(typeof id !== 'undefined' && id != null) { %>id="<%= id %>"<% } %> <% if(typeof attributes !== 'undefined' && Array.isArray(attributes)){ %><%- attributes.map(a => a.name + '="' + a.value.toString().replace(/"/g, '&quot;') + '"').join(' ') %><% } %> <% if(typeof value !== 'undefined') { %>value="<%= value %>"<% } %> <% if(typeof label === 'undefined' && typeof placeholder !== 'undefined') { %>placeholder="<%= placeholder %>"<% } %> <% if(typeof readonly !== 'undefined' && readonly) { %>readonly<% } %> required>
        </div>

        <% if(typeof type !== 'undefined' && type == 'password'){ %>
            <div class="input-addon flex flex-row items-center text-muted-foreground end">
                <button type="button" tabindex="-1" class="input-password-show button flex flex-row items-center">
                    <%- include('../icon.ejs', {
                        icon: 'eye',
                        id: null,
                        className: 'size-3.5'
                    }); %>
                </button>

                <button type="button" tabindex="-1" class="input-password-hide button flex flex-row items-center">
                    <%- include('../icon.ejs', {
                        icon: 'eye-off',
                        id: null,
                        className: 'size-3.5'
                    }); %>
                </button>
            </div>
        <% } %>

        <% if(typeof addons !== 'undefined' && Array.isArray(addons)){ %>
            <% addons.forEach(function(item){ %>
                <div class="input-addon flex flex-row items-center text-muted-foreground <% if(typeof item.align !== 'undefined' && item.align != null){ %><%= item.align %><% } %>">
                    <%- item.addon %>
                </div>
            <% }); %>
        <% } %>
    </div>

    <div class="input-subscript px-1">
        <% if(typeof errors !== 'undefined' && Array.isArray(errors)){ %>
            <% if(errors.includes('required')) { %><div class="error text-danger text-xs" data-error="required">This field is required</div><% } %>
            <% if(errors.includes('number')) { %><div class="error text-danger text-xs" data-error="number">This field must be a number</div><% } %>
            <% if(errors.includes('percentage')) { %><div class="error text-danger text-xs" data-error="percentage">This field must be a percentage</div><% } %>
            <% if(errors.includes('greater')) { %><div class="error text-danger text-xs" data-error="greater">You must enter a greater value</div><% } %>
            <% if(errors.includes('lesser')) { %><div class="error text-danger text-xs" data-error="lesser">You must enter a lesser value</div><% } %>
            <% if(errors.includes('positive_integer')) { %><div class="error text-danger text-xs" data-error="positive_integer">This field must be a positive integer number</div><% } %>
            <% if(errors.includes('minimum_6_characters')) { %><div class="error text-danger text-xs" data-error="minimum_6_characters">This field must be a text with minimum 6 characters</div><% } %>
            <% if(errors.includes('minimum_10_characters')) { %><div class="error text-danger text-xs" data-error="minimum_10_characters">This field must be a text with minimum 10 characters</div><% } %>
            <% if(errors.includes('only_letters_numbers')) { %><div class="error text-danger text-xs" data-error="only_letters_numbers">This field must contain only letters and numbers</div><% } %>
            <% if(errors.includes('password')) { %><div class="error text-danger text-xs" data-error="password">At least 8 characters, maximum 64 characters, one uppercase, one lowercase, one number and one symbol</div><% } %>
            <% if(errors.includes('email')) { %><div class="error text-danger text-xs" data-error="email">This field must be a email</div><% } %>
            <% if(errors.includes('name')) { %><div class="error text-danger text-xs" data-error="name">At least 2 characters, maximum 64 characters</div><% } %>
        <% } %>
    </div>
</div>